/*
// ------------------------------------------------------------------------------
// Assignment 2
// Written by: (Raffi Alan Bezirjian) -> 123456
// For SOEN 287 Section A – Summer 2019
// -----------------------------------------------------------------------------
*/

#statsOut
{
    border-style: solid;
    font-size: 20px;
    border-color: red;
    width: 40%;
    margin-top: 10px;
    margin: auto;
    border-width: 6px;
}